rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Rules for the 'games' collection
    match /games/{gameId} {

      // Allow anyone to create a new game document.
      allow create: if true;
      
      // Allow anyone to read, update, or delete an existing game document.
      allow read, update, delete: if true;
    }
  }
}
